*{
    margin: 0;
    padding: 0;
}
html {
    background: black
    url(background.jpg) center center no-repeat;
    margin-top: 40px;
    background-size: cover;
    color:antiquewhite;
}

body {
    display: block;
    place-items: center;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.5em;
}
@media (min-width: 500px) {
    body{
        display: grid;
    }
}

.container {
    
    margin: 2vh;
    background: rgba(79, 109, 245, 0.4);
    padding: 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}
@media (min-width: 800px) {.container{
    margin: 4vw;
    padding: 3rem;
}
}
header {
    float: center;
margin: 1vh;
padding: 2rem;
height: auto;
place-content: center;
}
@media (min-width: 500px) {
    header {
        display: grid;
    }
}
.Avatar {
    display: block;
    float: right;
    width: 230px;
    height: auto;
    margin: 0 1em 0 0;
    margin-top: 10px;
    border-radius: 50%;
}
.TitlulPaginii {
display: block;
margin: 0;
font-size: clamp(2rem, 6vw, 4rem);
line-height: 1.5em;
    
}
.DescrierePrincipala {
    display: block;
    margin: 0.5em 0 1.5em;
}
main {
clear: both;
}
.ListaLinkuri {display: block;
margin: 0;
padding: 0;
border-top: 1px solid white;

}
.ListaItem {display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;

}
.ListaLink {
display: block;
padding: 0.5em;
color: bisque;
text-decoration: none;
}
.ListaLink:hover {
    background: white;
    color: black;
}
.ListaTitlu, .ListaText {
display: block;
margin: 0;
padding: 0;
font-size: 1em;
line-height: 1.5em;
}
.ListaText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
@media (min-width: 1200px) {
  .ListaLinkuri{display: grid;
    grid-template-columns: 1fr 1fr;
}
}